.custom-icon-btn {
  outline: none;
  appearance: none;
  padding: .15rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  // border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
  border-radius: calc(infinity * 1px);
  z-index: 1;
  cursor: pointer;

  >* {
    width: 100%;
    height: 100%;
  }
}
